@include media-breakpoint-down(lg) {/*upto 1199*/

	table.shop_table {
		&.cart {
			.coupon {
				position: relative;
				margin-bottom: 1.429em;
				//float: none;

				.input-text {
					flex-grow: 1;
					border-#{$end}: 1px solid #dddddd;
				}
				.button {
					// position: absolute;
					// #{$end}: 0;
					// top: 0;
					width: auto;
					margin-left: 0;
					padding: 1.036em 1.134em;
				}
			}
		}
	}

	section.section-product-cards-carousel ,
 	.products-6-1 {
		header {
			border: none;
			margin-bottom: 0;

			.h1 {
				margin-bottom: 10px;
				display: inline-block;
			}

			ul.nav {
				float: none;
				li {
					border: none;
					text-align: center;
				}
			}
		}
	}

	/*........Single Product Page........*/

	.electro-advanced-reviews {
		.comment-form {
			> p {
				input[type="text"],
				 textarea {
				 	width: 100%;
				}
			}
		}
	}
}


@include media-breakpoint-up(lg) {
    @include media-breakpoint-down(lg) {
         .departments-menu > .nav-item {
            width: 25%;
        }

        .navbar-search {
            width: 50%;
        }

        .primary-nav {
        	.nav-inline {
        		> .menu-item.dropdown + .menu-item {
					margin-#{$start}: 1.429em;
				}

				> .menu-item + .menu-item {
					margin-#{$start}: 1.786em;
				}

        	}
        }

        .products {
        	.product.product-card{
				.media-body {
					.hover-area {
						.action-buttons {
							> div {
								margin-#{$end}: 0;
							}

							> a{
								margin-#{$start}: 0.714em;
							}
						}
					}
				}
			}
		}
    }
}
